#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

body *{
    font-family: 'Helvetica', sans-serif;
}

h1 {
    font-weight: 700;
}

body {
	margin:0;
	padding:0;
	background-color: azure;
}

.bg-colour1 {background: seashell;}
.bg-colour2 {background: Snow;}
.bg-colour3 {background: LavenderBlush;}
.bg-colour4 {background: orange;}

.bolded { font-weight: bold; }
.italics {font-style: italic;}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 0px;
    padding-top: 0px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}